<h2 class="text-gray-500 mt-4">Load</h2>
<div class="w-full bg-white rounded-lg shadow-md p-4 my-2">
	<div class="flex justify-center items-baseline">
		<div class="text-lg text-gray-600 font-light pr-1">Total</div>
		<div class="text-gray-400">
			<span class="text-xl font-medium text-amber-500">173</span>
			<span>/190</span>
		</div>
	</div>	
	<hr class="my-2">
	<h4 class="text-xs text-gray-500 mb-1">Available</h4>
	<div class="grid grid-cols-3 text-sm">
		<div class="flex justify-start items-baseline">
			<div class="text-gray-600 font-light pr-1">First</div>
			<div class="text-red-500">0</div>
			<!-- <div class="text-gray-400">
				<span class="text-base font-medium text-red-500">20</span>
				<span>/20</span>
			</div> -->
		</div>	
		<div class="flex justify-start items-baseline">
			<div class="text-gray-600 font-light pr-1">Main</div>
			<div class="text-amber-500">17</div>
			<!-- <div class="text-gray-400">
				<span class="text-base font-medium text-amber-500">168</span>
				<span>/170</span>
			</div> -->
		</div>	
		<!-- TODO: Add columns for economy and premium economy for WBs -->
		<div class="flex justify-end items-baseline">
			<!-- <div class="text-gray-600 font-light pr-1">JS</div>
			<div class="text-gray-400">
				<span class="text-base font-medium text-red-500">2</span>
				<span>/2</span>
			</div> -->
		</div>
	</div>
	<hr class="my-2">
	<h4 class="text-xs text-gray-500 mb-1">
		Flightdeck Jumpseats: 
		<span class="text-sm font-medium text-gray-600">2</span>
	</h4>
	<div class="grid grid-cols-3 text-sm">
		<div class="flex justify-start items-baseline">
			<div class="text-gray-600 font-light pr-1">JS Listed</div>
			<div class="text-red-500">4</div>
		</div>
		<div class="flex justify-start items-baseline">
			<div class="text-gray-600 font-light pr-1">JS Assigned</div>
			<div class="text-green-600">0</div>
		</div>
		<div class="flex justify-start items-baseline">
			<div class="text-gray-600 font-light pr-1">Nonrevs</div>
			<div class="text-red-500">11</div>
		</div>
	</div>
</div>