<div class="flex flex-row items-baseline space-x-2">
	<h2 class="text-gray-500 mt-4">Book Deadhead</h2>
	<button class="blue-400 text-yellow-400 hover:text-yellow-500">
		<fa-icon [icon]="faQuestionCircle" size="lg"></fa-icon>
	</button>
</div>
<div class="w-full bg-white rounded-lg shadow-md p-4 my-2">
	<div class="flex flex-row justify-center items-center space-x-3">
		<button class="bg-blue-400 hover:bg-blue-600 text-white font-bold text-sm py-1 px-3 rounded" (click)="onBookDhClick()">A1D</button>
		<button class="bg-blue-400 hover:bg-blue-600 text-white font-bold text-sm py-1 px-3 rounded">A3D</button>
		<button class="bg-blue-400 hover:bg-blue-600 text-white font-bold text-sm py-1 px-3 rounded">A12</button>
	</div>
</div>