<h2 class="text-gray-500 mt-4">Standby List</h2>
<div class="w-full bg-white rounded-lg shadow-md p-4 my-2">
	<table class="w-full">
		<thead class="text-left text-gray-500 text-sm">
			<th></th>
			<th>Name</th>
			<th>Priority</th>
			<th>Seat</th>
			<th>Remarks</th>
		</thead>
		<tbody class="font-light">
			<tr>
				<td class="text-right text-gray-400">1</td>
				<td>PILOT J</td>
				<td>D1</td>
				<td></td>
				<td>NO ANSWR</td>
			</tr>
			<tr>
				<td class="text-right text-gray-400">2</td>
				<td>PEELOT L</td>
				<td>D2</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="text-right text-gray-400">3</td>
				<td class="text-green-600 font-normal">PREFECT F</td>
				<td class="text-green-600 font-normal">D2WP</td>
				<td class="text-green-600 font-normal">1W</td>
				<td class="text-green-600 font-normal">FDJ AA</td>
			</tr>
			<tr>
				<td class="text-right text-gray-400">4</td>
				<td>SMITH D</td>
				<td>D2</td>
				<td>12F</td>
				<td></td>
			</tr>
			<tr>
				<td class="text-right text-gray-400">5</td>
				<td class="text-gray-900 font-normal">DENT A</td>
				<td class="text-gray-900 font-normal">D6UJ</td>
				<td class="text-gray-900 font-normal"></td>
				<td class="text-gray-900 font-normal"></td>
			</tr>
		</tbody>
	</table>
</div>